.jumbotron {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: rgb(252, 249, 216);
}

#project {
  background-color: rgb(252, 249, 216);
}

section {
  padding-top: 3rem;
}

#pendidikan {
  background-color: rgb(252, 249, 216);
}
