@media screen and (max-width: 768px) {
  /* Body */
  body {
    font-family: "Poppins", sans-serif;
    background-color: #e5e5e5;
    background-image: url(img/Blur.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  /* Akhir Body */
  /* Menu Navigasi */
  .navbar {
    margin: 15px 30px;
  }
  /* Akhir Navigasi */

  /* Hero Section */
  .hero {
    margin: 0 30px;
  }

  .hero .teks-utama {
    margin: auto;
  }

  .photo {
    margin-bottom: 50px;
  }
  /* Akhir Hero */
}

@media screen and (max-width: 576px) {
  /* Body */
  body {
    font-family: "Poppins", sans-serif;
    background-color: #e5e5e5;
    background-image: url(img/Blur.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  /* Akhir Body */
  /* Menu Navigasi */
  .navbar {
    margin: 15px 30px;
  }

  /* Akhir Menu Navigasi */

  /* Awal Hero */
  .hero {
    margin: 0 30px;
  }

  .photo {
    margin-bottom: 50px;
  }
  /* Akhir Hero */
}
